/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

/* # = pega ID 
. = pega class */

/* VARIABLES CSS */
:root {
  --hue: 359;
  /*colors in HSL*/
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color-light: hsl(0 0% 98%);
  --text-color: hsl(0 0% 46%);
  --body-color: hsl(0 0% 98%);
  --title-color: hsl(var(--hue) 41% 10%);
}

/* BASE */

body {
  font: 400 1rem 'DM Sans', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--title-color-light);
  height: 3.5rem;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  display: inline-flex;
}

.button:hover {
  background: var(--base-color-alt);
  transition: background 0.3s;
}

.divider1 {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34) 100%);
}

/* LAYOUT */
/* rem = unidade relativa 1 rem == 16px */

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.menu {
  margin-right: 2rem;

}

.menu li {
  display: inline;
  padding-left: 1.5rem;
  font: 700 1rem 'Poppins', sans-serif;
  color: var(--title-color);

}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  background-color: var(--body-color);
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font: 700 1.4rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

main {
  margin-top: 4.5rem;
}

/* HOME */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* SOBRE */

#sobre .text p {
  margin-bottom: 2rem;
}

#sobre .text h1 {
  margin-bottom: 1rem;
}

#sobre .text {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}

#sobre .image img {
  width: 30rem;
  height: 20rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

#sobre .map {
  width: 30rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

/* AGENDAR */

#agendar .text {
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
  align-items: center;
  border: var(--base-color-second) solid 0.1rem;
  padding: 1rem;
}

#agendar .field {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--title-color);

}

#agendar input {
  width: 20rem;
  height: 2rem;
}

#agendar p {
  font: 700 1.2rem 'DM Sans', sans-serif;
  color: var(--title-color);
  margin-bottom: 2rem;
}

#agendar textarea {
  width: 20rem;
  height: 10rem;
}

#agendar label {
  padding-bottom: 2rem;
}